<section class="bg-green">
  <div class="container"> 
      <div class="row align-items-center"> 
          <div class="col-xl-6 col-lg-6 md-mb-50px appear" data-anime="{ &quot;effect&quot;: &quot;slide&quot;, &quot;color&quot;: &quot;#2946f3&quot;, &quot;direction&quot;:&quot;lr&quot;, &quot;easing&quot;: &quot;easeOutQuad&quot;, &quot;delay&quot;:50}" style="position: relative;">
              <figure class="position-relative m-0" style="opacity: 1;">
                  <img src="https://placehold.co/580x450" alt="" class="border-radius-6px w-100" data-no-retina="">
                  <figcaption class="position-absolute bg-white box-shadow-extra-large border-radius-6px right-25px bottom-25px w-300px xs-w-250px p-25px xs-p-15px text-center last-paragraph-no-margin">
                      <!-- start features box item -->
                      <div class="icon-with-text-style-08">
                          <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                              <div class="feature-box-icon w-60px xs-w-50px me-20px xs-me-15px">
                                  <img src="https://placehold.co/120x84" class="animation-zoom" alt="" data-no-retina="">
                              </div>
                              <div class="feature-box-content">
                                  <span class="d-inline-block fs-18 lh-24 text-dark-gray">One of the <span class="fw-700">leading cardiac</span> centre.</span>
                              </div>
                          </div>
                      </div>
                      <!-- end features box item -->
                  </figcaption>
              </figure>
          </div>
          <div class="col-xl-5 col-lg-6 offset-xl-1 appear anime-complete" data-anime="{ &quot;translateY&quot;: [0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 150, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }" style="">
              <span class="fs-18 fw-600 text-dark-gray mb-20px d-flex align-items-center"><span class="text-center w-60px h-60px d-flex justify-content-center align-items-center rounded-circle bg-base-color d-inline-block align-middle me-15px"><i class="bi bi-bookmark-star text-white fs-20"></i></span>Clinical excellence</span> 
              <div class="swiper slider-one-slide text-slider-style-01 swiper-initialized swiper-horizontal swiper-backface-hidden" data-slider-options="{ &quot;slidesPerView&quot;: 1, &quot;loop&quot;: true, &quot;pagination&quot;: { &quot;el&quot;: &quot;.slider-one-slide-pagination&quot;, &quot;clickable&quot;: true }, &quot;autoplay&quot;: { &quot;delay&quot;: 4000, &quot;disableOnInteraction&quot;: false }, &quot;navigation&quot;: { &quot;nextEl&quot;: &quot;.slider-one-slide-next-1&quot;, &quot;prevEl&quot;: &quot;.slider-one-slide-prev-1&quot; }, &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;effect&quot;: &quot;slide&quot; }">
                  <div class="swiper-wrapper" id="swiper-wrapper-a85164594d95bd4e" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-890px, 0px, 0px); transition-delay: 0ms;">
                      <!-- start text slider item -->
                      
                      <!-- end text slider item -->
                      <!-- start text slider item -->
                      
                      <!-- end text slider item -->
                      <!-- start text slider item -->
                      
                      <!-- end text slider item -->
                  <div class="swiper-slide swiper-slide-next" style="width: 445px;" role="group" aria-label="1 / 3" data-swiper-slide-index="0">
                          <h2 class="fw-700 alt-font text-dark-gray ls-minus-2px">Best advanced infrastructure.</h2>
                          <p class="w-80">Lorem ipsum dolor sit amet consectetur adipiscing elit do eiusmod tempor incididunt ut labore et dolore magna ut enim veniam.</p>
                      </div><div class="swiper-slide swiper-slide-prev" style="width: 445px;" role="group" aria-label="2 / 3" data-swiper-slide-index="1">
                          <h2 class="fw-700 alt-font text-dark-gray ls-minus-2px">Certified renal transplant.</h2>
                          <p class="w-80">Lorem ipsum dolor sit amet consectetur adipiscing elit do eiusmod tempor incididunt ut labore et dolore magna ut enim veniam.</p>
                      </div><div class="swiper-slide swiper-slide-active" style="width: 445px;" role="group" aria-label="3 / 3" data-swiper-slide-index="2">
                          <h2 class="fw-700 alt-font text-dark-gray ls-minus-2px">Microscope for tumor surgery.</h2>
                          <p class="w-80">Lorem ipsum dolor sit amet consectetur adipiscing elit do eiusmod tempor incididunt ut labore et dolore magna ut enim veniam.</p>
                      </div></div>
                  <div class="d-flex">
                      <!-- start slider navigation -->
                      <div class="slider-one-slide-prev-1 icon-small swiper-button-prev slider-navigation-style-04 bg-white text-dark-gray" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-96110a82d266f02c8"><i class="fa-solid fa-arrow-left"></i></div>
                      <div class="slider-one-slide-next-1 icon-small swiper-button-next slider-navigation-style-04 bg-white text-dark-gray" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-96110a82d266f02c8"><i class="fa-solid fa-arrow-right"></i></div>
                      <!-- end slider navigation -->
                  </div>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
          </div>
      </div>
  </div>
</section>