<section class="overflow-hidden big-section position-relative">
            <div id="particles-style-01" class="position-absolute h-100 top-0 left-0 w-100" data-particle="true" data-particle-options="{&quot;particles&quot;:{&quot;number&quot;:{&quot;value&quot;:5,&quot;density&quot;:{&quot;enable&quot;:true,&quot;value_area&quot;:800}},&quot;color&quot;:{&quot;value&quot;:&quot;#000000&quot;},&quot;shape&quot;:{&quot;type&quot;:&quot;circle&quot;,&quot;stroke&quot;:{&quot;width&quot;:0,&quot;color&quot;:&quot;#000000&quot;},&quot;polygon&quot;:{&quot;nb_sides&quot;:5},&quot;image&quot;:{&quot;src&quot;:&quot;img/github.svg&quot;,&quot;width&quot;:100,&quot;height&quot;:100}},&quot;opacity&quot;:{&quot;value&quot;:1,&quot;random&quot;:false,&quot;anim&quot;:{&quot;enable&quot;:false,&quot;speed&quot;:1,&quot;opacity_min&quot;:0.1,&quot;sync&quot;:false}},&quot;size&quot;:{&quot;value&quot;:4,&quot;random&quot;:true,&quot;anim&quot;:{&quot;enable&quot;:false,&quot;speed&quot;:40,&quot;size_min&quot;:0.1,&quot;sync&quot;:false}},&quot;line_linked&quot;:{&quot;enable&quot;:false,&quot;distance&quot;:150,&quot;color&quot;:&quot;#ffffff&quot;,&quot;opacity&quot;:0.4,&quot;width&quot;:1},&quot;move&quot;:{&quot;enable&quot;:true,&quot;speed&quot;:6,&quot;direction&quot;:&quot;none&quot;,&quot;random&quot;:false,&quot;straight&quot;:false,&quot;out_mode&quot;:&quot;out&quot;,&quot;bounce&quot;:false,&quot;attract&quot;:{&quot;enable&quot;:false,&quot;rotateX&quot;:600,&quot;rotateY&quot;:1200}}},&quot;interactivity&quot;:{&quot;detect_on&quot;:&quot;canvas&quot;,&quot;events&quot;:{&quot;onhover&quot;:{&quot;enable&quot;:true,&quot;mode&quot;:&quot;repulse&quot;},&quot;onclick&quot;:{&quot;enable&quot;:true,&quot;mode&quot;:&quot;push&quot;},&quot;resize&quot;:true},&quot;modes&quot;:{&quot;grab&quot;:{&quot;distance&quot;:400,&quot;line_linked&quot;:{&quot;opacity&quot;:1}},&quot;bubble&quot;:{&quot;distance&quot;:400,&quot;size&quot;:40,&quot;duration&quot;:2,&quot;opacity&quot;:8,&quot;speed&quot;:3},&quot;repulse&quot;:{&quot;distance&quot;:200,&quot;duration&quot;:0.4},&quot;push&quot;:{&quot;particles_nb&quot;:4},&quot;remove&quot;:{&quot;particles_nb&quot;:2}}},&quot;retina_detect&quot;:true}"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="2732" height="1740"></canvas></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="outside-box-right-50 lg-outside-box-right-65 sm-me-0">
                            <div class="swiper text-slider-style-02 swiper-initialized swiper-horizontal swiper-backface-hidden" data-slider-options="{ &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 30, &quot;loop&quot;: true, &quot;autoplay&quot;: { &quot;delay&quot;: 4000, &quot;disableOnInteraction&quot;: false }, &quot;keyboard&quot;: { &quot;enabled&quot;: true, &quot;onlyInViewport&quot;: true }, &quot;breakpoints&quot;: { &quot;1400&quot;: { &quot;slidesPerView&quot;: 2, &quot;spaceBetween&quot;: 130 }, &quot;992&quot;: { &quot;slidesPerView&quot;: 2, &quot;spaceBetween&quot;: 80 }, &quot;768&quot;: { &quot;slidesPerView&quot;: 2, &quot;spaceBetween&quot;: 50 } }, &quot;effect&quot;: &quot;slide&quot; }">
                                <div class="swiper-wrapper" id="swiper-wrapper-9a5da949ba7ef1081" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-1873px, 0px, 0px); transition-delay: 0ms;">
                                    <!-- start content carousal item --> 
                                    
                                    <!-- end content carousal item -->
                                    <!-- start content carousal item --> 
                                    
                                    <!-- end content carousal item -->
                                    <!-- start content carousal item --> 
                                    <div class="swiper-slide" style="width: 856.5px; margin-right: 80px;" role="group" aria-label="3 / 4" data-swiper-slide-index="2"> 
                                        <div class="row">
                                            <div class="col-12 col-lg-4 pt-8 order-lg-1 order-2">
                                                <div class="d-flex align-items-center mb-20px">  
                                                    <span class="d-inline-block fw-600 text-dark-gray">Jan 16, 2023</span>
                                                    <span class="d-inline-block fs-18 alt-font text-light-gray ms-10px me-10px">•</span>
                                                    <span class="d-inline-block fs-15 fw-500 text-dark-gray">
                                                        <i class="feather icon-feather-message-circle text-dark-gray d-inline-block fs-14"></i>
                                                        <span>13</span>
                                                    </span>
                                                    <span class="d-inline-block fs-18 alt-font text-light-gray ms-10px me-10px">•</span>
                                                    <span class="d-inline-block fs-15 fw-500 text-dark-gray">
                                                        <i class="feather icon-feather-thumbs-up text-dark-gray d-inline-block fs-14"></i>
                                                        <span>45</span>
                                                    </span>
                                                </div>
                                                <div class="outside-box-right-10 xl-outside-box-right-15 lg-outside-box-right-30 md-me-0 position-relative">
                                                    <h3 class="ls-minus-1px fw-700 word-break-normal mb-40px sm-mb-20px"><a href="#" class="text-dark-gray text-dark-gray-hover">Fashion is the armor to survive the reality of everyday life.</a></h3>
                                                </div>
                                                <div>
                                                    <img src="https://placehold.co/148x148" class="rounded-circle w-70px me-15px" alt="" data-no-retina="">
                                                    <div class="d-inline-block align-middle"> 
                                                        <a href="#" class="text-dark-gray fs-18 fw-600 text-decoration-line-bottom">Jessica dover</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-8 order-lg-2 order-1">
                                                <a href="#"><img src="https://placehold.co/825x630" class="border-radius-6px" alt="" data-no-retina=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end content carousal item -->
                                    <!-- start content carousal item --> 
                                    <div class="swiper-slide swiper-slide-prev" style="width: 856.5px; margin-right: 80px;" role="group" aria-label="4 / 4" data-swiper-slide-index="3"> 
                                        <div class="row">
                                            <div class="col-12 col-lg-4 pt-8 order-lg-1 order-2">
                                                <div class="d-flex align-items-center mb-20px">  
                                                    <span class="d-inline-block fw-600 text-dark-gray">Jan 18, 2023</span>
                                                    <span class="d-inline-block fs-18 alt-font text-light-gray ms-10px me-10px">•</span>
                                                    <span class="d-inline-block fs-15 fw-500 text-dark-gray">
                                                        <i class="feather icon-feather-message-circle text-dark-gray d-inline-block fs-14"></i>
                                                        <span>13</span>
                                                    </span>
                                                    <span class="d-inline-block fs-18 alt-font text-light-gray ms-10px me-10px">•</span>
                                                    <span class="d-inline-block fs-15 fw-500 text-dark-gray">
                                                        <i class="feather icon-feather-thumbs-up text-dark-gray d-inline-block fs-14"></i>
                                                        <span>45</span>
                                                    </span>
                                                </div>
                                                <div class="outside-box-right-10 xl-outside-box-right-15 lg-outside-box-right-30 md-me-0 position-relative">
                                                    <h3 class="ls-minus-1px fw-700 word-break-normal mb-40px sm-mb-20px"><a href="#" class="text-dark-gray text-dark-gray-hover">Fashion is the most beautiful illusion you can have.</a></h3>
                                                </div>
                                                <div>
                                                    <img src="https://placehold.co/148x148" class="rounded-circle w-70px me-15px" alt="" data-no-retina="">
                                                    <div class="d-inline-block align-middle"> 
                                                        <a href="#" class="text-dark-gray fs-18 fw-600 text-decoration-line-bottom">Herman miller</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-8 order-lg-2 order-1">
                                                <a href="#"><img src="https://placehold.co/825x630" class="border-radius-6px" alt="" data-no-retina=""></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end content carousal item -->
                                <div class="swiper-slide swiper-slide-active" style="width: 856.5px; margin-right: 80px;" role="group" aria-label="1 / 4" data-swiper-slide-index="0"> 
                                        <div class="row">
                                            <div class="col-12 col-lg-4 pt-8 order-lg-1 order-2">
                                                <div class="d-flex align-items-center mb-20px">  
                                                    <span class="d-inline-block fw-600 text-dark-gray">Jan 20, 2023</span>
                                                    <span class="d-inline-block fs-18 alt-font text-light-gray ms-10px me-10px">•</span>
                                                    <span class="d-inline-block fs-15 fw-500 text-dark-gray">
                                                        <i class="feather icon-feather-message-circle text-dark-gray d-inline-block fs-14"></i>
                                                        <span>13</span>
                                                    </span>
                                                    <span class="d-inline-block fs-18 alt-font text-light-gray ms-10px me-10px">•</span>
                                                    <span class="d-inline-block fs-15 fw-500 text-dark-gray">
                                                        <i class="feather icon-feather-thumbs-up text-dark-gray d-inline-block fs-14"></i>
                                                        <span>45</span>
                                                    </span>
                                                </div>
                                                <div class="outside-box-right-10 xl-outside-box-right-15 lg-outside-box-right-30 md-me-0 position-relative">
                                                    <h3 class="ls-minus-1px fw-700 word-break-normal mb-40px sm-mb-20px"><a href="#" class="text-dark-gray text-dark-gray-hover">I love seeing fashion from the past making a comeback.</a></h3>
                                                </div>
                                                <div>
                                                    <img src="https://placehold.co/148x148" class="rounded-circle w-70px me-15px" alt="" data-no-retina="">
                                                    <div class="d-inline-block align-middle"> 
                                                        <a href="#" class="text-dark-gray fs-18 fw-600 text-decoration-line-bottom">Walton smith</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-8 order-lg-2 order-1">
                                                <a href="#"><img src="https://placehold.co/825x630" class="border-radius-6px" alt="" data-no-retina=""></a>
                                            </div>
                                        </div>
                                    </div><div class="swiper-slide swiper-slide-next" style="width: 856.5px; margin-right: 80px;" role="group" aria-label="2 / 4" data-swiper-slide-index="1"> 
                                        <div class="row">
                                            <div class="col-12 col-lg-4 pt-8 order-lg-1 order-2">
                                                <div class="d-flex align-items-center mb-20px">  
                                                    <span class="d-inline-block fw-600 text-dark-gray">Jan 18, 2023</span>
                                                    <span class="d-inline-block fs-18 alt-font text-light-gray ms-10px me-10px">•</span>
                                                    <span class="d-inline-block fs-15 fw-500 text-dark-gray">
                                                        <i class="feather icon-feather-message-circle text-dark-gray d-inline-block fs-14"></i>
                                                        <span>13</span>
                                                    </span>
                                                    <span class="d-inline-block fs-18 alt-font text-light-gray ms-10px me-10px">•</span>
                                                    <span class="d-inline-block fs-15 fw-500 text-dark-gray">
                                                        <i class="feather icon-feather-thumbs-up text-dark-gray d-inline-block fs-14"></i>
                                                        <span>45</span>
                                                    </span>
                                                </div>
                                                <div class="outside-box-right-10 xl-outside-box-right-15 lg-outside-box-right-30 md-me-0 position-relative">
                                                    <h3 class="ls-minus-1px fw-700 word-break-normal mb-40px sm-mb-20px"><a href="#" class="text-dark-gray text-dark-gray-hover">Fashion is the most beautiful illusion you can have.</a></h3>
                                                </div>
                                                <div>
                                                    <img src="https://placehold.co/148x148" class="rounded-circle w-70px me-15px" alt="" data-no-retina="">
                                                    <div class="d-inline-block align-middle"> 
                                                        <a href="#" class="text-dark-gray fs-18 fw-600 text-decoration-line-bottom">Herman miller</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-8 order-lg-2 order-1">
                                                <a href="#"><img src="https://placehold.co/825x630" class="border-radius-6px" alt="" data-no-retina=""></a>
                                            </div>
                                        </div>
                                    </div></div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>